h1{
    background-color: darkred; /*tausta värv*/
    color: teal; /*teksti värv*/


}
header, footer{
    font-family: Comic Sans;
    font-size: large;
    width : 80%;
    border: 3px solid grey; /*dashed, dotted, double, outline*/
    background-color: darkred;
    border-radius : 120px;
    padding : 1%; /*vahe teksti ja piiri vahel*/

}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;

}
nav ul{
    list-style-type: none;
    text-align: center; /*teksti joondamine keskele*/
    margin: 2%;
    padding: 0;
    background-color: darksalmon;
}
nav li{
    float: left;
    padding: 1%;
}
main{
    margin: 50px;
    padding: 1%;
}
nav a:hover{ /*Link on fookuses, hiir peal siis muudab värvi*/
    background-color: grey;
}
nav li a{
    font-family: Georgia;
    font-size: medium;
    text-decoration: none;
    border-left: 1pt solid grey;
    border-right: 1pt solid grey;
    border-radius: 120px;
    padding: 10px;
}
/***************************section********************************/
section#osa1{
    display: inline-block;
    width: 20%;
    border-right: 5px solid blueviolet;
    border-bottom: 5px solid blue;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa1 h3{
    text-align: center;
    background-color: grey;
    border-radius: 60px;
    padding : 2%;
    font-weight: bold;
    font-variant: small-caps;
}

section#osa2{
    display: inline-block;
    width: 20%;
    border-right: 5px dotted blueviolet;
    border-bottom: 5px dotted blue;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa2 h3{
    text-align: center;
    background-color: grey;
    border-radius: 60px;
    padding : 2%;
    font-weight: bold;
    font-variant: small-caps;
}

section#osa3{
    display: inline-block;
    width: 20%;
    border-right: 5px dashed blueviolet;
    border-bottom: 5px dotted blue;
    border-radius: 60px;
    padding: 2%;
    margin-top: 10px;
}
section#osa3 h3{
    text-align: center;
    background-color: grey;
    border-radius: 60px;
    padding : 2%;
    font-weight: bold;
    font-variant: small-caps;
}

section#pildigalerii h3{
    margin-top: 20px;
}

section#pildigalerii h3{
    margin-top: 20px;
}
section#video h3{
    margin-top: 20px;
}
section#laul h3{
    margin-top: 20px;
}
section#kaart h3{
    margin-top: 20px;
}





